@font-face {
    font-family: "Roboto-Medium";
    src: url("./fonts/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto-Medium', 'Arial', sans-serif;
    margin: 0;

}

body.summer {
    background-image: url('./assets/summer-bg.jpg');
    backdrop-filter: blur(2px) brightness(50%);
}

body.rain {
    background-image: url('./assets/rainy-bg.jpg');
    backdrop-filter: blur(2px) brightness(50%);
}

body.winter {
    background-image: url('./assets/winter-bg.jpg');
    backdrop-filter: blur(2px) brightness(50%);
}

.app {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.header {
    margin: 0;
    color: #eb5534;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.button {
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-size: cover;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border-color .3s;
    position: relative;
}

.button:before {
    content: url('./assets/icons/pause.svg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
    z-index: 6;
}

.button:hover {
    border-color: #eb5534;
}

.button.playing,
.button.pause {
    border: 2px solid #eb5534;
}

.button img {
    transition: opacity .3s;
}

.button.playing img {
    animation: pulse 3s linear infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.button.pause img {
    opacity: 0;
    visibility: hidden;
}

.button.pause:before {
    opacity: 1;
    visibility: visible;
}

.button-summer {
    background-image: url('./assets/summer-bg.jpg');
}

.button-rain {
    background-image: url('./assets/rainy-bg.jpg');
}

.button-winter {
    background-image: url('./assets/winter-bg.jpg');
}